@font-face {
  font-family: 'Okine-Thin';
  src: url('./fonts/OkineSans-Light.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Okine-Bold';
  src: url('./fonts/OkineSans-Regular.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Okine-Outline';
  src: url('./fonts/OkineSans-MediumOutline.otf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Okine-Thin';
  font-size: 14px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(209, 240, 229);
}

header {
  padding: 24px;
  background-color: rgb(64, 112, 92);
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Okine-Outline';
  color:rgb(209, 240, 229);
  margin: 0px;
  font-size: 48px;
}

h2 {
  font-family: 'Okine-Bold';
  margin: 0px;
  font-size: 28px;
}

h3 {
  font-family: 'Okine-Bold';
  font-size: 20px;
  margin: 0px;
  padding-bottom: 6px;
}

h4 {
  font-family: 'Okine-Bold';
  font-size: 16px;
  margin: 0px;
  padding-bottom: 6px;
}

img {
  height: 64px;
  width: 64px;
}

form {
  display: flex;
  justify-content: center;
}

input {
  padding: 6px;
  padding-left: 12px;
  font-family: 'Okine-Thin';
  border: none;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

button {
  padding: 6px 10px;
  background: rgb(209, 240, 229);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  padding: 12px;
}

#results-container {
  display: flex;
  justify-content: center;
}

#weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 36px;
  width: 75%;
  background-color: rgb(209, 240, 229);
}

#current-weather-main {
  background-color:  rgb(241, 255, 250);
  border-radius: 24px;
  padding: 12px;
  margin-bottom: 12px;
}

#current-weather-detail {
  background-color: rgb(241, 255, 250);
  border-radius: 24px;
  padding: 12px;
  margin-bottom: 12px;
}

#details-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

#forecast-container {
  background-color: rgb(241, 255, 250);
  border-radius: 24px;
  padding: 12px;
}

#forecast-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition {
  padding-bottom: 3px;
}

.forecast-text {
  font-size: 12px;
}

.high-temp {
  padding-right: 6px;
}

.bold-text {
  font-family: 'Okine-Bold';
}