body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

header {
  padding: 24px;
  background-color: rgb(64, 112, 92);
  color: white;
  text-align: center;
}

h1 {
  margin: 0px;
  padding-bottom: 12px;
}

#weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  margin: 48px;
}